

  <h1 class="title">Articles!</h1>



    <ul>
      <% @articles.each do |art| %>
        <li>
          <%= link_to art.title, article_path(art) %>
          <%= link_to "Edit", edit_article_path(art) %>
          <%= link_to "Delete", article_path(art), method: :delete, data: {confirm: "Are you sure?" } %>
        </li>
      <% end %>
    </ul>




